// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

.heart-icon {
    max-width: 15px;
    height: auto;
    margin: 0 5px 3px 0;
}
